.about{
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0.5em 1em;
  background-color: lightblue;
  color: black;
}

.about > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5em;
}

.space > p{
  margin-top: 1rem;
}

.about a{
  color: red;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1em;
  width: 13ch;
  padding: 0.2em;
  text-align: center;
}

.about .about-head{
  display: flex;
  justify-content: center;
  text-align: center;
}

.about footer{
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 0.5em 2em;
  text-align: center;
}