.profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: smaller;
  padding: 1em;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.profile .profile-head{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile p{
  text-align: center;
}

.profile .map-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.profile .google-signin{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  gap: 0.5em;
}


.profile .form-map{
  position: relative;
  background-color: lightblue;
  width: 100%;
  height: 150px;
}

.profile .leaflet-container{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  left: 0;
}

.profile .form-info{
  width: 100%;
  padding-top: 1em;
}

.profile form > div{
  display: flex;
  flex-direction: column;
  padding: 0.1em;
}

.profile input{
  padding: 0.2em;
}

.profile .submit-btn{
  padding: 1em 0;
}



.profile .searchPlace{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  gap: 0.3em;
  background-color: lightblue;
}

.profile .searchPlace input{
  width: 25ch;
  border: none;
  border-bottom: 1px solid;
}

.profile .searchPlace i{
  font-size: 1.5em;
  cursor: pointer;
}

.profile .submit-btn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
}

.profile .submit-btn > button{
  width: 10ch;

}


@media screen and (min-width: 700px) {
  .profile{
    font-size: 1rem;
  }

  .profile .map-wrapper{
    width: 60%;
    min-height: 100%;
  }

  .profile .form-info{
    width: 100%;
  }
}