.signup{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: smaller;
  padding: 1em;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.signup .signup-head{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup p{
  text-align: center;
}

.signup .map-wrapper{
  width: 100%;
  height: 100%;
}
.signup .google-signin{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  gap: 0.5em;
}


.signup .form-map{
  position: relative;
  background-color: lightblue;
  width: 100%;
  height: 150px;
}

.signup .leaflet-container{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  left: 0;
}

.signup .form-info{
  padding-top: 1em;
}

.signup form > div{
  display: flex;
  flex-direction: column;
  padding: 0.1em;
}

.signup input{
  padding: 0.2em;
}

.signup .submit-btn{
  padding: 1em 0;
}

.signup .back{
  cursor: pointer;
}

.signup .back a{
  color: red;
}

.signup .searchPlace{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  gap: 0.3em;
  background-color: lightblue;
}

.signup .searchPlace input{
  width: 25ch;
  border: none;
  border-bottom: 1px solid;
}

.signup .searchPlace i{
  font-size: 1.5em;
  cursor: pointer;
}

.signup .submit-btn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
}

.signup .submit-btn > button{
  width: 10ch;

}

.signup .footer{
  background-color: white;
  font-size: larger;
}


@media screen and (min-width: 700px) {
  .signup{
    font-size: 1rem;
  }

  .signup .map-wrapper{
    width: 60%;
    min-height: 100%;
  }
}